<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  
  <link rel="stylesheet" href="charges.css">
  <title>Charge Explained</title>
</head>
<body>
    <a href="./all_stockdetails.html" class="btn btn-info">Back to Stock Details</a>
  <div class="slider-container">
      
      <h2 class="h2-tag">Charges Explained</h2>
      <table class="data-table">
        <tr class="row-odd">
          <td>List</td>
          <td>Currency futures</td>
          <td>Currency options</td>
        </tr>
        <tr class="row-even">
          <td>Brokerage</td>
          <td>0.03% or ₹ 20/executed order whichever is lower</td>
          <td> 20/executed order</td>
        </tr>
      
        <tr class="row-odd">
          <td>Transaction charges</td>
          <td >
            NSE:<br />
            Exchange txn charge: 0.0009%<br />
            BSE:<br />
            Exchange txn charge: 0.0009%
          </td>
          <td>
            NSE:<br />
            Exchange txn charge: 0.035%<br />
            BSE:<br />
            Exchange txn charge: 0.001%
          </td>
        </tr>
        <tr class="row-even">
          <td>GST</td>
          <td>18% on (brokerage + SEBI charges + transaction charges)</td>
          <td>18% on (brokerage + SEBI charges + transaction charges)</td>
        </tr>
        <tr class="row-odd">
          <td>SEBI charges</td>
          <td>₹ 10 / crore</td>
          <td>₹ 10 / crore</td>
        </tr>
        <tr class="row-even">
          <td>Stamp charges</td>
          <td>0.0001% or ₹ 10 / crore on buy side</td>
          <td>0.0001% or ₹ 10 / crore on buy side</td>
        </tr>
      </table>
    </div>

</body>
</html>