<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registration</title>
        <link rel="stylesheet" href="/component/registration/reg.css">  
    </head>
    <body>
        <div class="Registration-container">
            <header>
                <img id="rwiLogo" src="/img/Minimalist Red Green Financial Audit Company Logo (3).png" alt="Company Logo">
            </header>
            <form action="/component/login/login.html">
                <input type="text" placeholder="Enter your email">
                <input type="text" placeholder="Enter your phone number">
                <input type="password" placeholder="Enter your password">
                <button type="submit">SignUp</button>
                <span class="signup">Already have an account?<label><a href="/component/login/login.html">Login</a></label></span>
            </form>
        </div>
    </body>
</html>