<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="style1.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark navbg">
    <img src="/img/Minimalist Red Green Financial Audit Company Logo (3).png"widget=30% height="100px">"
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Profile<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Transaction</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/component/stock_details/all_stockdetails.html">Stock Details</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/component/login/login.html">Log out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <!-- You can add additional components here, like search bar, notifications, etc. -->
    </div>
  </nav>
    <div class="container-fluid">
     
        <div class="history_part">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Company's Name</th>
                        <th scope="col">
                            <form class="d-flex"> <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        </th>
                        <th scope="col"><button class="btn btn-outline-success" type="submit">Search</button></th>
                        </form>
                        <th scope="col"><input type="date" class="form-control me-2"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Name</th>
                        <td>Date</td>
                        <td>Price</td>
                        <td>Status</td>
                    </tr>
                    <tr>
                        <th scope="row">Tata</th>
                        <td>Sat/May/2023</td>
                        <td>$89.25</td>
                        <td>Buy</td>
                    </tr>
                    <tr>
                        <th scope="row">Tata</th>
                        <td>Sat/May/2023</td>
                        <td>$89.25</td>
                        <td>Buy</td>
                    </tr>
                    <tr>
                        <th scope="row">Tata</th>
                        <td>Sat/May/2023</td>
                        <td>$89.25</td>
                        <td>Buy</td>
                    </tr>
                    <tr>
                        <th scope="row">Tata</th>
                        <td>Sat/May/2023</td>
                        <td>$89.25</td>
                        <td>Buy</td>
                    </tr>
                    <tr>
                        <th scope="row">Tata</th>
                        <td>Sat/May/2023</td>
                        <td>$89.25</td>
                        <td>Buy</td>
                    </tr>
                    <tr>
                        <th scope="row">Tata</th>
                        <td>Sat/May/2023</td>
                        <td>$89.25</td>
                        <td>Buy</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="bank_details">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><img src="/img/total ba.png" class="card-img-top"></h5>
                    <h6 class="card-title">Total Balance</h6>
                    <p class="card-text">$526415.20</p>
                    <h1>+61%</h1>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><img src="/img/income.jpg" class="card-img-top"></h5>
                    <h6 class="card-title">Total Income</h6>
                    <p class="card-text">$526415.20</p>
                    <h1>-61%</h1>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><img src="/img/profit].png" class="card-img-top"width="50%" height="10%"></h5>
                    <h6 class="card-title">Total Profite</h6>
                    <p class="card-text">$52815.20</p>
                    <h1>+61%</h1>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><img src="/img/expen.png"class="card-img-top" width="50%" height="10%"></h5>
                    <h6 class="card-title">Total Expences</h6>
                    <p class="card-text">$59415.20</p>
                    <h1>-85%</h1>
                </div>
            </div>
        </div>
        <div class="text-center imgs"> <img src="/img/ielts-bar-chart-43-the-way-people-of-a-country-invested-their-money.webp" class="rounded" alt="..."> </div>
        <link href='https://fonts.googleapis.com/css?family=Epilogue' rel='stylesheet'>
        <footer id="footer" class="footer-1">
            <div class="main-footer widgets-dark typo-light">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="widget subscribe no-box">
                                <h5 class="widget-title">Maven Trading<span></span></h5>
                                <p>Maximize your capital market investment with Maven's convenience and variety of options. </p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="widget no-box">
                                <h5 class="widget-title">Quick Links<span></span></h5>
                                <ul class="thumbnail-widget">
                                    <li>
                                        <div class="thumb-content"><a href="#.">Get Started</a></div>
                                    </li>
                                    <li>
                                        <div class="thumb-content"><a href="#.">Market</a></div>
                                    </li>
                                    <li>
                                        <div class="thumb-content"><a href="#.">Career</a></div>
                                    </li>
                                    <li>
                                        <div class="thumb-content"><a href="#.">Contact us</a></div>
                                    </li>
                                    <li>
                                        <div class="thumb-content"><a href="#.">About</a></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="widget no-box">
                                <h5 class="widget-title">Get Started<span></span></h5>
                                <p>Get Started your trading Life Today</p> <a class="btn" href="#" target="_blank">Get Started</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="widget no-box">
                                <h5 class="widget-title">Contact Us<span></span></h5>
                                <p><a href="mailto:info@domain.com" title="">info@domain.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="footer-copyright">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <p>Copyright Maven Trading © 2024. All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>a
        </footer>
    </div>
</body>

</html>